@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section Styles{ <link rel="stylesheet" href="~/css/indexUser.css" />}


<h1>Welcome <strong>tamara</strong></h1>