@model IEnumerable<generico.Models.Ingreso>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



 <div class="container-fluid">

    
    

    <div class="row">


        @foreach (var item in Model)
        {
            <div class ="col-md-3 col-sm-12" >
         <div class="paper pink">
        <div class="tape-section"></div>
             <h1>Ahorro numero @item.ID</h1>
                <p>Aporte : @item.Aporte </p>
            <div class="tape-section"></div>
            </div>
        </div> }


     </div>

      
 </div>
 