@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

  <form id="formulario" method="POST" asp-action="filtrarPorMes" asp-controller="User">
<label for="Name">Ingresar nombre del mes
</label>
<input type="text" id="Name" name="mes" />
  </form>