@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    bool ingresoError = ViewBag.IngresoError != null ;
}

   

    @if(ingresoError) {
    <h1>Debes iniciar sesion para realizar esta accion.</h1>
    } else {

      <h1>Ingreso de ahorro Exitoso</h1>

    }
